[project]
	description = first project in git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/naveenkumaryadavalli
[access "refs/for/refs/*"]
	read = group user/naveenkumaryadavalli
	push = group user/naveenkumaryadavalli
	label-Code-Review = -2..+2 group user/naveenkumaryadavalli
	label-Verified = -1..+1 group user/naveenkumaryadavalli
	rebase = group user/naveenkumaryadavalli
	removeReviewer = group user/naveenkumaryadavalli
	submit = group user/naveenkumaryadavalli
[access "refs/heads/*"]
	read = group user/naveenkumaryadavalli
	create = group user/naveenkumaryadavalli
	push = +force group user/naveenkumaryadavalli
	pushMerge = group user/naveenkumaryadavalli
[access "refs/tags/*"]
	push = group user/naveenkumaryadavalli
	push = +force group user/naveenkumaryadavalli
